{% extends 'base.html' %}

{% block title %}Approve Users{% endblock %}

{% block content %}
<div class="approve-users-container">
    <h2>Approve Users</h2>
    <form method="post">
        {% csrf_token %}
        {% for user in users %}
            <div>
                <input type="checkbox" name="approve" value="{{ user.id }}">
                {{ user.username }} - {{ user.email }} - {{ user.user_role }}
            </div>
        {% endfor %}
        <button type="submit">Approve Selected Users</button>
    </form>
</div>
{% endblock %}
