<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}HomeConnect{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Welcome to HomeConnect</a></h1>
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="query" placeholder="Search for properties...">
            <button type="submit">Search</button>
        </form>
        <nav>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}</span>
                <a href="{% url 'profile' user.id %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% if user.user_role == 'property_purchaser' %}
                    <a href="{% url 'create_property_step1' %}">Add New Listing</a>
                    <a href="{% url 'inquiry_list' %}">View Inquiries</a>
                {% endif %}
                {% if user.user_role == 'salesperson' %}
                    <a href="{% url 'inquiry_list' %}">View Inquiries</a>
                {% endif %}
                {% if user.user_role == 'client' %}
                    <a href="{% url 'inquiry_list' %}">Track Inquiries</a>
                {% endif %}
            {% else %}
                <a href="{% url 'signup' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
