{% extends 'base.html' %}

{% block title %}Property Detail - HomeConnect{% endblock %}

{% block content %}
<h2>Property Detail</h2>
<p>Address: {{ property.address }}</p>
<p>Description: {{ property.description }}</p>
<p>Price: ${{ property.price }}</p>
<p>Category: {{ property.category }}</p>
<p>Land Size: {{ property.land_size }}</p>
{% if property.image %}
    <img src="{{ property.image.url }}" alt="Property Image">
{% else %}
    <p>No Image Available</p>
{% endif %}

{% if user.is_authenticated and user.user_role == 'salesperson' %}
    <a href="{% url 'promote_property' property.id %}" class="btn">Promote on Social Media</a>
{% endif %}

{% endblock %}
