{% extends "base.html" %}

{% block title %}Search Results - HomeConnectPro{% endblock %}

{% block content %}
<h2>Search Results</h2>

{% if properties %}
    <div class="property-list">
        {% for property in properties %}
            <div class="property">
                <h3><a href="{% url 'property_detail' property.id %}">{{ property.address }}</a></h3>
                <p>{{ property.description }}</p>
                <p>Price: ${{ property.price }}</p>
                <p>Category: {{ property.category }}</p>
                <p>Land Size: {{ property.land_size }}</p>
                {% if property.image %}
                    <img src="{{ property.image.url }}" alt="Property Image">
                {% else %}
                    <p>No Image Available</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No matches for the provided filters.</p>
{% endif %}
{% endblock %}
